.container {
    width: 100vw;
    height: 100svh;
}

@container (min-width:600px) {
    .container {
        display: flex;
    }

    .sidebar {
        width: 25%;
    }

    .main {
        flex: 1;
    }
}
