.container {
    display: none;
}

@container (min-width:600px) {
    .container {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        /* justify-content: center; */
        background-color: #dae5f5;
        position: relative;
    }

    .heading {
        margin-bottom: 10px;
        font-size: 40px;
    }

    .people_img {
        margin-top: calc(10vh);
        width: 58%;
    }

    .text {
        text-align: center;
        font-size: 21px;
    }

    .footer {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
        position: absolute;
        bottom: 0px;
    }
}
